name: Test Across Matrix

on:
  push:
    branches:
      - main


jobs:
  test:
    ## Defines the platform for each test run
    runs-on: ubuntu-latest
    
    ## the steps that will be run through for each version and platform
    ## combination
    steps:
    ## sets up go based on the version
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    ## checks out our code locally so we can work with the files
    - name: Checkout code
      uses: actions/checkout@v2
    
    ## runs go test ./...
    - name: Test
      run: go test -coverprofile=coverage.lcov ./...
    
    - name: Convert coverage
      uses: jandelgado/gcov2lcov-action@v1.0.5

    - name: Upload coverage
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: coverage.lcov
